@media screen and (max-width: 768px) {
    

    .agendamentos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        margin: 0.625em;
    }
    
    .cards {
        padding: 0.9375em;
    }


}

@media screen and (max-width: 430px) {
    

    .agendamentos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        margin: 0.625em;
    }
}
