@media screen and (max-width: 768px) {
    

    .agendamentos {
        display: flex;
        flex-wrap: wrap; 
        gap: 15px; 
        margin: 5px;
    }


}

@media screen and (max-width: 430px) {
    

    .cards {
        width: calc(100vw - 40px); 
        max-width: calc(100vw - 40px);
        margin: 0 auto;
    }

}
